$breakpoint: 788px;

@mixin pc {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: #{$breakpoint - 1}) {
    @content;
  }
}

@mixin fixed-panel() {
  position: fixed;
  background-color: #131010;
  border: 2px solid #ffffff3a;
  box-shadow: 0 0 22px #0000005a;
  border-radius: 8px;
}
