---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contact">
  <slot slot="head">
    <meta name="description" content="This is a contact page." />
  </slot>

  <h1>Contact page</h1>
  <p>
    REVATI Studio しろねこ、白猫。<br />
    ここらへんに各種ページのコンテンツを置く。
  </p>
</Layout>
