---
import { Image } from "astro:assets";
import DraggableWindow from "../components/DraggableWindow.astro";
import Layout from "../layouts/Layout.astro";
import Logo3d from "../components/Logo3d.svelte";
import Carousel from "../components/Carousel.astro";
import CarouselItem from "../components/CarouselItem.astro";

import logoImage from "../assets/logo_w.png";
---

<Layout title="top">
  <!-- Layoutのname=headのslotがある場所に挿入される -->
  <slot slot="head">
    <meta name="description" content="This is a top page." />
  </slot>

  <h1>Example Top Page</h1>
  <p>
    REVATI Studio しろねこ、白猫。<br />
    ここらへんに各種ページのコンテンツを置く。
  </p>

  <Carousel slideHeight="6rem" maxWidth="120rem">
    {
      Array.from({ length: 15 }).map(() => (
        <CarouselItem>
          <Image src={logoImage} alt="logo" />
        </CarouselItem>
      ))
    }
  </Carousel>

  <DraggableWindow title="REVATI Studio" width="498px" height="266px">
    <Logo3d client:only="svelte" />
  </DraggableWindow>
</Layout>

<style lang="scss"></style>
