---
import DraggableWindow from "../components/DraggableWindow.astro";
import Layout from "../layouts/Layout.astro";
import Logo3d from "../components/Logo3d.svelte";
---

<Layout title="top">
  <!-- Layoutのname=headのslotがある場所に挿入される -->
  <slot slot="head">
    <meta name="description" content="This is a top page." />
  </slot>

  <h1>Example Top Page</h1>
  <p>
    REVATI Studio しろねこ、白猫。<br />
    ここらへんに各種ページのコンテンツを置く。
  </p>

  <DraggableWindow title="REVATI 3D LOGO" width="800px" height="600px">
    <Logo3d client:only />
  </DraggableWindow>
</Layout>

<style lang="scss"></style>
