---
import Layout from '../layouts/Layout.astro';
---

<Layout title='top'>
	<!-- Layoutのname=headのslotがある場所に挿入される -->
	<slot slot="head">
		<meta name="description" content="This is a top page." />
	</slot>
	
	<h1>Example Top Page</h1>
</Layout>