---
import Layout from "../layouts/Layout.astro";
import WorkList from "../components/works/Works.astro";
---

<Layout title="works">
  <slot slot="head">
    <meta name="description" content="This is a works page." />
  </slot>

  <h1>Our Works</h1>

  <h2>Media Production</h2>
  <h3>Video Production</h3>
  <WorkList items={[]} />
  <h3>Video Editing</h3>
  <WorkList items={[]} />

  <h2>Visual Design</h2>
  <h3>Illustration</h3>
  <!-- DBG: 臨時の作品群 ↓ -->
  <WorkList
    items={[
      {
        title: "ればっちくん",
        image:
          "https://media.discordapp.net/attachments/1108734051386404885/1370386463497256990/revatti_kun.png?ex=6835b8d9&is=68346759&hm=933d8f13cddf6426083e3f98f2488a1ac13da65d721b4ee61229ff5c040d61ff&=&format=webp&quality=lossless",
      },
      {
        title: "REVATI ヘッダー",
        image: "https://revati.jp/images/logos/revati/header_mini_oxipng.png",
      },
      {
        title: "No Image (©2023 Rinrin.rs | CC BY-SA 4.0)",
        image:
          "https://feat--168-goods-poster-carou.revati.pages.dev/images/news/thumbnails/20240301_test.png",
      },
      {
        title: "ポスター Ω<ﾅﾝﾃﾞｽｯﾃｰ!? (©2024 Rinrin.rs | CC BY-SA 4.0)",
        image:
          "https://dev.rinrin.pages.dev/images/creations/thumbnails/poster-nandesuttee.webp",
      },

      {
        title: "ればっちくん",
        image:
          "https://media.discordapp.net/attachments/1108734051386404885/1370386463497256990/revatti_kun.png?ex=6835b8d9&is=68346759&hm=933d8f13cddf6426083e3f98f2488a1ac13da65d721b4ee61229ff5c040d61ff&=&format=webp&quality=lossless",
      },
      {
        title: "REVATI ヘッダー",
        image: "https://revati.jp/images/logos/revati/header_mini_oxipng.png",
      },
      {
        title: "No Image (©2023 Rinrin.rs | CC BY-SA 4.0)",
        image:
          "https://feat--168-goods-poster-carou.revati.pages.dev/images/news/thumbnails/20240301_test.png",
      },
      {
        title: "ポスター Ω<ﾅﾝﾃﾞｽｯﾃｰ!? (©2024 Rinrin.rs | CC BY-SA 4.0)",
        image:
          "https://dev.rinrin.pages.dev/images/creations/thumbnails/poster-nandesuttee.webp",
      },

      {
        title: "ればっちくん",
        image:
          "https://media.discordapp.net/attachments/1108734051386404885/1370386463497256990/revatti_kun.png?ex=6835b8d9&is=68346759&hm=933d8f13cddf6426083e3f98f2488a1ac13da65d721b4ee61229ff5c040d61ff&=&format=webp&quality=lossless",
      },
      {
        title: "REVATI ヘッダー",
        image: "https://revati.jp/images/logos/revati/header_mini_oxipng.png",
      },
      {
        title: "No Image (©2023 Rinrin.rs | CC BY-SA 4.0)",
        image:
          "https://feat--168-goods-poster-carou.revati.pages.dev/images/news/thumbnails/20240301_test.png",
      },
      {
        title: "ポスター Ω<ﾅﾝﾃﾞｽｯﾃｰ!? (©2024 Rinrin.rs | CC BY-SA 4.0)",
        image:
          "https://dev.rinrin.pages.dev/images/creations/thumbnails/poster-nandesuttee.webp",
      },
    ]}
  />
  <h3>Graphic Design</h3>
  <WorkList items={[]} />
  <h3>Web Design</h3>
  <WorkList items={[]} />

  <h2>Digital Development</h2>
  <WorkList items={[]} />
  <h3>Web Development</h3>
  <WorkList items={[]} />
  <h3>App Development</h3>
  <WorkList items={[]} />
  <h3>Bot Development</h3>
  <WorkList items={[]} />
</Layout>

<style lang="scss">
  h1,
  h2,
  h3 {
    text-align: center;
  }
</style>
