---
import Layout from "../layouts/Layout.astro";
---

<Layout title="works">
  <slot slot="head">
    <meta name="description" content="This is a works page." />
  </slot>

  <h1>Works page</h1>
  <p>
    REVATI Studio しろねこ、白猫。<br />
    ここらへんに各種ページのコンテンツを置く。
  </p>
</Layout>
