---
import { Image } from "astro:assets";
import Navbar from "./Navbar.astro";

import LogoWhite from "../../assets/logos/REVATI-Studio_wide_white.webp";
---

<header>
  <Navbar />
  <div class="logo-container">
    <Image loading="eager" src={LogoWhite} alt="" class="logo" />
  </div>
</header>

<style lang="scss">
  header {
    height: 100%;
    padding: 18px;
    // background-color: #00000080; // TMP
    box-sizing: border-box;
  }

  .logo {
    height: 52px;
    width: auto;
    margin: 10px 0;

    @media screen and (max-width: 398px) {
      width: 100%;
      height: auto;
    }
  }
</style>
