---
import { Image } from "astro:assets";
import Navbar from "./Navbar.astro";

import Logo from "../../assets/logos/REVATI_Studio_white.webp";
---

<header>
  <a href="/" class="logo-container">
    <Image loading="eager" src={Logo} alt="" class="logo" />
  </a>
  <Navbar />
</header>

<style lang="scss">
  @use "../../styles/color" as *;

  header {
    height: 100%;
    padding: 18px;
    box-sizing: border-box;
  }

  .logo-container {
    display: block;
    width: fit-content;
    padding: 18px;
    padding-top: 22px;
    border-radius: 20px;
    box-shadow: inset 4px 4px 8px #0000006a,
      inset -4px -4px 8px #ffffff10;
  }

  .logo {
    display: block;
    height: 42px;
    width: auto;
  }

  @include sp {
    .logo-container {
      display: none;
    }
  }
</style>
