---
import { Image } from 'astro:assets';
import Navbar from '../footer/Navbar.astro';

import LogoBlack from '../../assets/logo_b.png';
---

<header>
  <div class="logo-container">
    <Image src={LogoBlack} alt="Logo" class="logo" />
  </div>

  <Navbar />
</header>

<style lang="scss">
  .logo {
    width: 100px;
    height: auto;
  }
</style>
