<div class="embla__slide">
  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  .embla__slide {
    flex: 0 0 auto; 
    min-width: 0; 
    padding-left: var(--slide-spacing); 
    position: relative; 
  }

  .content {
    height: var(--slide-height); 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    //TODO: 枠線は暫定対応
    border: 1px solid rgb(214, 214, 214);
  }
  
  .content > :global(img) { 
    display: block; 
    height: 100%;
    width: auto;
    object-fit: contain; 
  }
</style>