<dialog id="work-modal-dialog">
  <div class="modal-content">
    <form method="dialog">
      <div class="close-wrapper">
        <button class="close" id="work-modal-close" title="閉じる" type="submit"
          >&times;</button
        >
      </div>
    </form>
    <h1 id="work-modal-title">作品名を読み込み中...</h1>
    <img id="work-modal-image" src="" alt="" />
    <p id="work-modal-date" class="date"></p>
    <p id="work-modal-authors" class="authors"></p>
  </div>
</dialog>

<style lang="scss">
  dialog {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
    padding: 0;
    background: none;
    border: none;
    justify-content: center;

    &[open] {
      display: flex;

      &::backdrop {
        background-color: #000000d0;
        $blur: blur(20px);
        backdrop-filter: $blur;
        -webkit-backdrop-filter: $blur;
      }
    }
  }

  .modal-content {
    position: relative;
  }

  .close-wrapper {
    text-align: right;
  }

  .close {
    font-family: inherit;
    font-size: 28px;
    font-weight: 900;
    color: #808080;
    padding: 0;
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      color: tomato;
    }
  }

  h1,
  p {
    color: #fafafa;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    margin: auto;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 234px);
    margin: 18px auto;
    user-select: none;
    pointer-events: none;
  }

  p {
    font-size: 1.2rem;
    margin: 0 auto;
  }

  .date:before {
    content: "Created at: ";
  }

  .authors:before {
    content: "Authors: ";
  }
</style>
