---
interface NavigationEntry {
  label: string;
  href: string;
}

const navigations: NavigationEntry[] = [
  { label: 'Home', href: '/' },
  { label: 'About', href: '/about' },
  { label: 'Works', href: '/works' },
  { label: 'Contact', href: '/contact' },
];
---

<nav>
  <ul>
    {navigations.map(n => (
      <li>
        <a href={n.href}>{n.label}</a>
      </li>
    ))}
  </ul>
</nav>