---
import { ClientRouter } from "astro:transitions";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="format-detection"
      content="telephone=no, address=no, email=no"
    />
    {title && <title>{title}</title>}

    <!-- ▼ Google Fonts ▼ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <!-- ▲ Google Fonts ▲ -->

    <meta property="og:site_name" content="REVATI Studio" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:site" content="REVATI Studio" />
    <!-- ↓ Sass 変数 `$color-accent` -->
    <meta name="theme-color" content="#e16428" />

    <meta name="keywords" content="revati,revati studio" />
    <meta
      name="author"
      content="Rinrin.rs <rinrin0413.valley@gmail.com>, RetoRuto9900K <tutinoko2048@gmail.com>"
    />
    <!-- <meta name="copyright" content="TODO:" /> -->

    <slot name="head" />

    <ClientRouter />
  </head>

  <body>
    <div class="header-container"><Header /></div>
    <main transition:animate="fade">
      <slot />
    </main>
    <div class="footer-container"><Footer /></div>
  </body>
</html>

<style lang="scss">
  html {
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: $color-secondary;
  }

  body {
    display: grid;
    grid-template-rows: 82px auto 168px;
    height: 100%;
    margin: 0;
    color: $text-color;
  }

  .header-container {
    grid-row: 1 / 2;
  }

  main {
    grid-row: 2 / 3;
  }

  .footer-container {
    grid-row: 3 / 4;
  }
</style>
